<%- include('partials/header'); -%>
    <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Election App</title>
</head>

<body>
    <div class="custom-container">
        <header>
            <%- include('partials/navbar'); -%>
        </header>
        <main class="content">
            <!DOCTYPE html>
<html>
<head>
  <title>Polling Unit ID Form</title>
</head>
<body>
    <div class="inputbox">
        <h1>Enter Polling Unit ID</h1>
        <form  action="/pollingunit"
                method="post" 
                ">
        <input type="text" id="pollingUnitId" name="pollingUnitId" placeholder="Enter Polling Unit ID" required>
        <br><br>
        <button class="homebtn" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>

        </main>
    </div>

<%- include('partials/footer'); -%>