<%- include('partials/header'); -%>
    <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Election App</title>
</head>

<body>
    <div class="custom-container">
        <header>
            <%- include('partials/navbar'); -%>
        </header>
        <main class="content">
        </main>
    </div>

<%- include('partials/footer'); -%>