<%- include('partials/header'); -%>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Unit</title>
</head>
<body>
    <div class="custom-container">
        <header>
            <%- include('partials/navbar'); -%>
        </header>
        <main class="content">
        </main>
    </div>

<%- include('partials/footer'); -%>